*{
    margin: 0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo{
    width:160px;
    margin-left: -20px;
    
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;

}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}

.header-text{
    /* position:relative; */
    text-align:right;
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;
}
.header-text p {
    display: inline-block;
    border-right: 0.1em solid #000; /* Adjust the border style as needed */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000; /* Adjust the caret color as needed */
    }
  }
  
/* .header-text h1::before,.header-text h1::after{
    content: '';
    padding: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    border:15px solid #ff004f;
    transform: translateX(-50%) translateY(-50%) rotate(var(--rotation, 0deg));
    transition: transform 0.3s ease;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        --rotation: 0deg;
    }
    100% {
        --rotation: 360deg;
    }
} */

.header-text h1 span{
    color:#ff004f ;
    font-size: 80px;
    /* font-weight: 800; */

}


.bubbles img{
    width:25px;
    animation:bubble 6s linear infinite;
    opacity: 0;
    
}
.bubbles{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
   }
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 1.3s;
  }
  
  .bubbles img:nth-child(2) {
    animation-delay: 0.9s;
  }
  
  .bubbles img:nth-child(3) {
    animation-delay: 1.9s;
  }
  
  .bubbles img:nth-child(4) {
    animation-delay: 4.6s;
  }
  
  .bubbles img:nth-child(5) {
    animation-delay: 2.6s;
  }
  
  .bubbles img:nth-child(6) {
    animation-delay: 0.4s;
  }
  
  .bubbles img:nth-child(7) {
    animation-delay: 3.1s;
  }
  
  .bubbles img:nth-child(8) {
    animation-delay: 0.49s;
  }
  
  .bubbles img:nth-child(9) {
    animation-delay: 1.5s;
  }
  
  .bubbles img:nth-child(10) {
    animation-delay: 1.5s;
  } 
  .bubbles img:nth-child(11) {
    animation-delay: 3s;
  }
  
  .bubbles img:nth-child(12) {
    animation-delay: .8s;
  }
  
  .bubbles img:nth-child(13) {
    animation-delay: 1.6s;
  }
   .bubbles img:nth-child(14) {
    animation-delay: 3.5s;
  }
  
  .bubbles img:nth-child(15) {
    animation-delay: 4.7s;
  } 
  .bubbles img:nth-child(17) {
    animation-delay: 1.7s;
  }
  .bubbles img:nth-child(18) {
    animation-delay: .8s;
  }
  .bubbles img:nth-child(19) {
    animation-delay: 3.7s;
  }
  .bubbles img:nth-child(20) {
    animation-delay: .9s;
  }
  .bubbles img:nth-child(21) {
    animation-delay: 1.7s;
  }
  .bubbles img:nth-child(22) {
    animation-delay: .7s;
  }
  
/* -----------------about------------------ */
#about{
    padding:80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis:60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#ff004f;
    /* color: aliceblue; */
}
.tab-title{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: .5s;
}
.tab-links.active-link::after{
    width:50%;
} 
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}
.tab-contents ul li span{
   color:#ff4681;
   font-size: 14px;
} 
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------------services------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.services-list div{
    background:#262626;
    padding: 40px;
    font-size:13px;
    font-weight: 300px;
    border-radius: 15px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div:hover{
    background:#ff004f;
    transform: translate(-10px);
}

.services-list div a:hover{
    color:black;
    transform: translate(10px);
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin: 15px;
    
 }

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin: 15px;
    }

.services-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    color:#fff;
    display: inline-block;
    transition: .5s;
}
/* ----------portfoilo----------------- */
/* #portfoilo{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 15px;
    position:relative;
    overflow:hidden;
    background: #ff004f;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

}
.work img{
    width:100%;
    height: 300px;
    border-radius: 15px;
    display: block;
    background-size: cover;
    background-position: left;
    background: #ff4681;
    position: left;
    flex-basis: 30%;
}
.layer{
    padding: 30px ;
    flex-basis: 65%;
    background: #51ff07;
}
.layer h3{
    font-size: 30px; 
}*/
#portfoilo{
    padding:80px 0;
    color: #ababab;
   
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
    grid-gap:30px;
    margin-top: 50px;
}
.portfoilo-row{
    
    border-radius: 15px;
    position:relative;
    overflow:hidden;
    background: #292929;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    transition: background 0.5s,transform .5s;
}
.portfoilo-row:hover{
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);

    /* background:#ff004f; */
    transform: translate(-10px);
}
.portfoilo-col-1 {
    flex-basis: 60%;
    padding: 25px;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
  }
  
  .portfoilo-col-1 h3 {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    flex-basis: 100%;
    margin-bottom: 10px;
    color:#fff;
  }
  
  .portfoilo-col-1 p {
    flex-basis: 100%;
    margin-bottom: 15px;
    color:antiquewhite;
  }
.portfoilo-col-1 a{
    color:#ff004f ;
    transition: .5s;
}
  

.portfoilo-col-2{
    flex-basis:40%;
    padding: 10px;
}
.portfoilo-col-2 img{
    width: 100%;
    /* height: 300px; */
    border-radius: 15px;
    background: #080808;
    overflow: hidden;
    display: block;
}
.portfoilo-row:hover .portfoilo-col-2 img {
    transform: scale(1.06);
    transition: transform 0.7s;
}
.portfoilo-row:hover .portfoilo-col-1 a {
    color: #fff;
    text-decoration: none;
    font-size: 20px; 
}
.portfoilo-row:hover .portfoilo-col-1 a:hover {
    color: aquamarine;
    
}

/* ----------------Contact-------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right:15px;
    color: #ababab;
    display:inline-block;
    transition: transform .5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform:translateY(-5px);
}
.btn{
    display:inline-block;
    margin: 50px auto;
    width:fit-content;
    border:1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    background: #ff00517c;
    transition: .5s;
}
.btn:hover{
    background:#ff004f;
    transform: translate(5px);
}
.contact-right form{
    width: 100%;
}
form input,textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding: 15px;
    margin:15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{
    /* background:#08080838; */
    cursor: pointer;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
}
form .btn:hover{
    transform: translate(-5px);
}
.submit-container{
    text-align: right;
}

#msg{
    color:#61b752;
    margin-top: 0px;
    display: block;
}

/* -----------------css for small screen------------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url("images/pnf2.jpg");
    }
    
.logo{
    width:100px;
    
}
    .header-text{
        text-align: end;
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text h1 span{
        font-size: 60px;
        font-weight: 800;
    
    }
    .bubbles img{
        width: 20px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position:fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top:50px;
        z-index: 2;
        transition:right .5s;
    }
    nav ul li{
        display: block;
        margin:25px;
    }
    nav ul .fas{
        position:absolute;
        top:25px;
        left:25px;
    }
    nav ul li a::after{
        background: #fff2f6;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size:14px;
    }

    .portfoilo-col-1,.portfoilo-col-2{
        flex-basis: 100%;
        
    }
    .tab-links{
        font-size: 16px;
        margin-right:30px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        padding: 10px 0;
        font-size: 14px;
        background: #292929;
        text-align: center;
        
    }
    .btn{
        background:#ff004f;
    }
        
    /* .services-list div{
        transition: .5s;
    }     
    .services-list div.active{
        background:#ff004f;
        transform: translate(-10px);
    }
    .services-list div a.active{
        color:black;
        transform: translate(10px);
    }
    .services-list div a{
        transition: .5s;
    } */
}
/* ------------------------for larger medium screens--------------- */
@media only screen and (max-width:1600px){
    .portfoilo-col-1{
        flex-basis: 30%;        
    }
    .portfoilo-col-2{
        flex-basis: 60%;        
    }
    
}

/* ------------------------for medium screens--------------- */
@media only screen and (max-width:1020px){
    .portfoilo-col-1,.portfoilo-col-2{
        flex-basis: 100%;        
    }
    
}